.aboutUsDetailsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    padding-bottom: 2rem;
}

.buttonContainer {
    background-color: var(--backgroundColor);
    max-width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.6rem;
    margin-bottom: 1.6rem;
    box-shadow: -4px 9px 10px rgba(0, 0, 0, 0.43), inset -3px 4px 10px rgba(163, 163, 163, 0.28);
}

.buttonText {
    color: var(--lightBlue) !important;
    font-size: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
}

.aboutUsDetailsContainer span {
    font-family: var(--Panton-Black-Caps);
    font-size: 2.4rem;
    text-align: center;
    color: var(--whiteText);
    line-height: 100%;
}

.customText {
    color: var(--lightBlue) !important;
}

.aboutUsDetailsText {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutUsDetailMob {
    display: none;
}

.buttonContainerMob {
    display: none;
}

/* Laptop */
@media screen and (min-width: 1200px) and (max-width: 1365px) {
    .buttonContainer {
        max-width: 80vw;
    }
}


/* Mini Laptop */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .buttonContainer {
        max-width: 90vw;

    }
}

/* Ipad */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .buttonContainer {
        max-width: 95vw;
    }

    .buttonText {
        font-size: 2rem !important;
        line-height: 2rem !important;
    }

    .aboutUsDetailsContainer span {
        font-size: 2rem;
    }
}


/* Mobile */
@media screen and (max-width: 767px) {
    .buttonContainer {
        padding-top: 0.3;
        padding-bottom: 0.3;
    }

    .aboutUsDetailsContainer {
        padding: 0;
    }

    .buttonContainer {
        max-width: 97vw;
    }

    .buttonText {
        font-size: 1.5rem !important;
        line-height: 1.5rem !important;
    }

    .aboutUsDetailsContainer span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 694px) {
    .buttonText {
        font-size: 1.4rem !important;
        line-height: 1.4rem !important;
    }

    .aboutUsDetailsContainer span {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 575px) {
    .buttonText {
        font-size: 1.3rem !important;
        line-height: 1.3rem !important;
    }

    .aboutUsDetailsContainer span {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 575px) {
    .aboutUsDetailsContainer {
        padding: 0 0.5rem;
    }

    .buttonText {
        font-size: 1.2rem !important;
        line-height: 1.2rem !important;
    }

    .aboutUsDetailsContainer span {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media screen and (max-width: 460px) {
    .buttonText {
        font-size: 1.5rem !important;
        line-height: 100% !important;
    }

    .aboutUsDetailsContainer span {
        font-size: 1.5rem;
    }

    .aboutUsDetailDesk {
        display: none;
    }

    .aboutUsDetailMob {
        display: flex;
        margin-bottom: 2rem;
    }

    .buttonContainer {
        display: none;
    }

    .buttonContainerMob {
        display: flex;
        flex-direction: column;
        border-radius: 50px;
        width: 90%;
    }

    .aboutUsDetailsContainer {
        padding-top: 0.2rem;
    }

}

@media screen and (max-width: 400px) {
    .buttonContainerMob {
        width: 100%;
    }

    .aboutUsDetailsContainer span {
        font-size: 1.4rem;
    }

    .aboutUsDetailMob {
        display: flex;
        margin-bottom: 0;
    }
}