.roadMapDetailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    margin-top: 1.5rem;
}

.roadMapTextStyles {
    color: var(--lightBlue);
    font-family: var(--Panton-Black-Caps);
    font-size: 2.4rem;
    text-align: center;
    line-height: 100%;
    margin-top: 0.6rem;
}

.feedbackContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.feedbackContainer span {
    font-family: var(--Panton-Black-Caps);
    font-size: 2rem;
    text-align: center;
    color: var(--pinkBackground);
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    line-height: 100%;
}

.metverseTextContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
    margin-bottom: 0;
}

.metaverseTextStyles {
    color: var(--lightBlue);
    font-family: var(--Panton-Black-Caps);
    font-size: 2.4rem;
    text-align: center;
    line-height: 2.2rem;
}

.textInputContainer {
    max-width: 520px;
}

.containerDesk {
    display: flex;
}

.containerMobile {
    display: none;
}

.removeTopPadding {
    margin-top: 0;
}

/* Laptop */
@media screen and (min-width: 1200px) and (max-width: 1365px) {
    .buttonContainer {
        max-width: 80vw;
    }
}


/* Mini Laptop */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .buttonContainer {
        max-width: 90vw;

    }
}

/* Ipad */
@media screen and (min-width: 768px) and (max-width: 991px) {

    .roadMapTextStyles {
        font-size: 2rem;
    }

    .feedbackContainer span {
        font-size: 1.8rem;
    }

    .metaverseTextStyles {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
}


/* Mobile */
@media screen and (max-width: 767px) {
    .textInputContainer {
        width: 80%;
    }

    .roadMapTextStyles {
        font-size: 1.5rem;
    }

    .feedbackContainer span {
        font-size: 1.5rem;
    }

    .metaverseTextStyles {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

}

@media screen and (max-width: 694px) {

    .roadMapTextStyles {
        font-size: 1.4rem;
    }

    .feedbackContainer span {
        font-size: 1.4rem;
    }

    .metaverseTextStyles {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
}

@media screen and (max-width: 575px) {
    .roadMapTextStyles {
        font-size: 1.3rem;
    }

    .feedbackContainer span {
        font-size: 1.3rem;
    }

    .metaverseTextStyles {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
}

@media screen and (max-width: 575px) {
    .roadMapTextStyles {
        font-size: 1.3rem;
    }

    .feedbackContainer span {
        font-size: 1.3rem;
    }

    .metaverseTextStyles {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

}

@media screen and (max-width: 460px) {
    .containerDesk {
        display: none;
    }

    .containerMobile {
        display: flex;
    }

    .textInputContainer {
        width: 90%;
        margin-bottom: 1.5rem;
    }

    .metverseTextContainer {
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .roadMapDetailsContainer {
        margin-top: 0.5rem;
    }

    .roadMapTextStyles {
        font-size: 1.5rem;
    }

    .feedbackContainer span {
        font-size: 1.5rem;
    }

    .metaverseTextStyles {
        font-size: 1.5rem;
        line-height: 100%;
    }
}

@media screen and (max-width: 400px) {
    .roadMapTextStyles {
        font-size: 1.3rem;
    }

    .feedbackContainer span {
        font-size: 1.3rem;
    }

    .metaverseTextStyles {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
}