.mintCycleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mintCycleText {
    font-family: var(--Panton-Black-Caps);
    color: var(--pinkBackground);
    font-size: 4rem;
    text-align: center;
}

.mintCountText {
    font-family: var(--Panton-Black-Caps);
    color: var(--secondaryBackgroundColor);
    font-size: 2.5rem;
    margin: 1rem 0;
}

/* iPad */
@media screen and (max-width: 991px) {
    .mintCycleText {
        font-size: 3.5rem;
    }

    .mintCountText {
        font-size: 2.3rem;
        margin: 0;
    }
}

@media screen and (max-width: 470px) {
    .mintCycleText {
        font-size: 2.8rem;
    }

    .mintCountText {
        font-size: 2rem;
    }
}