.logoContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoImage {
    width: auto;
    height: 15rem;
    margin-bottom: 0.5rem;
}

.nftYourselfLogo {
    background: var(--pinkBackground);
    box-shadow: inset -4px 4px 2px rgba(255, 255, 255, 0.15);
    filter: drop-shadow(-3px 3px 4px rgba(0, 0, 0, 0.3));
}