.introSectionContainer {
    background: var(--backgroundColor);
    position: relative;
    z-index: 5;
}
.removeMarqueMarginBottom {
    margin-bottom: 0 !important;
}

.introSectionContainer::after {
    content: "";
    background: url("/sectionTexture1.jpg");
    opacity: 0.03;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}