.howItWorksContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.9rem;
}

.removeMarqueTopMargin {
    margin-top: 0 !important;
    margin-bottom: 1.3rem !important;
}

.guidelineText {
    font-family: var(--Panton-Black-Caps);
    font-size: 2.4rem;
    text-align: center;
    color: var(--whiteText);
    line-height: 100%;
}

.guidelineTextAddTopMargin {
    margin-top: 0.6rem;
}

.personalizeTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1.3rem
}

.personalizeText {
    font-family: var(--Panton-Black-Caps);
    font-size: 2.4rem;
    text-align: center;
    color: var(--lightBlue);
    line-height: 100%;
}

.guidelineContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nftYourSelfButton {
    background-color: var(--pinkBackground);
    margin-left: 0.6rem;
}

.nftYourSelfButtonText {
    font-size: 2.4rem !important;
    line-height: 100%;
}

.guidelineTextDesk {
    display: flex;
}

.guidelineTextMob {
    display: none;
}

/* Ipad */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .guidelineText {
        font-size: 2rem;
    }

    .personalizeText {
        font-size: 2rem;
    }

    .guidelineContainer {
        flex-direction: column;
    }

    .nftYourSelfButtonText {
        font-size: 1.5rem !important;
    }

}


/* Mobile */
@media screen and (max-width: 767px) {
    .guidelineContainer {
        flex-direction: column;
    }

    .buttonContainer {
        max-width: 97vw;
    }

    .guidelineText {
        font-size: 1.5rem;
    }

    .personalizeText {
        font-size: 1.5rem;
    }

    .nftYourSelfButtonText {
        font-size: 1.5rem !important;
    }

    .personalizeTextContainer {
        padding: 0.6rem 0;
        padding-top: 0.2rem;
    }

    .removeMarqueTopMargin {
        margin-bottom: 0.5rem !important
    }
}

@media screen and (max-width: 694px) {
    .guidelineText {
        font-size: 1.4rem;
    }

    .personalizeText {
        font-size: 1.4rem;
    }

    .nftYourSelfButtonText {
        font-size: 1.4rem !important;
    }
}

@media screen and (max-width: 575px) {
    .guidelineText {
        font-size: 1.3rem;
    }

    .personalizeText {
        font-size: 1.3rem;
    }

    .nftYourSelfButtonText {
        font-size: 1.3rem !important;
    }

    .personalizeTextContainer {
        padding: 0rem 0;
    }

    .removeMarqueTopMargin {
        margin-top: 0.5rem !important;
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width: 575px) {
    .guidelineText {
        font-size: 1.2rem;
    }

    .personalizeText {
        font-size: 1.2rem;
    }

    .nftYourSelfButtonText {
        font-size: 1.2rem !important;
    }

    .personalizeTextContainer {
        padding: 0rem 0;
    }

    .nftYourSelfButton {
        margin: 0.5rem 0;
        margin-bottom: 0.9rem;
    }
}

@media screen and (max-width: 460px) {
    .guidelineText {
        font-size: 1.5rem;
    }

    .personalizeText {
        font-size: 1.5rem;
    }

    .nftYourSelfButton {
        margin-left: 0;
    }

    .nftYourSelfButtonText {
        font-size: 1.3rem !important;
    }

    .guidelineTextDesk {
        display: none;
    }

    .guidelineTextMob {
        display: flex;
    }

    .personalizeTextContainer {
        margin-bottom: 1rem;
    }

    .removeMarqueTopMargin {
        margin-bottom: 1rem !important
    }

    .nftYourSelfButton {
        margin-top: 0.4rem;
    }

    .nftYourSelfButtonText {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 400px) {
    .guidelineText {
        font-size: 1.3rem;
    }

    .personalizeText {
        font-size: 1.3rem;
    }

    .removeMarqueTopMargin {
        margin-bottom: 0.5rem !important
    }

    .nftYourSelfButtonText {
        font-size: 1.3rem !important;
    }
}