.logoContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoImage {
    width: auto;
    height: 15rem;
    margin-bottom: 0.5rem;
}

.nftYourselfLogo {
    background: var(--pinkBackground);
    margin-bottom: 1rem;
}

.nftYourselfLogoText {
    font-size: 1.8rem;
}

/* Mini Laptop */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .logoImage {
        height: 14rem;
    }
}

/* iPad */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .logoImage {
        height: 12rem;
    }
}

/* Mobile */
@media screen and (max-width: 470px) {
    .nftYourselfLogo {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        /* margin-top: 1rem; */
        margin-bottom: 3rem;
    }

    .logoImage {
        height: 11rem
    }
}

@media screen and (max-width: 370px) {
    .logoImage {
        height: 9rem;
    }
}