.nftSectionContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nftComingSoonText {
    font-family: var(--bungee-hairline);
    font-weight: 1000;
    font-size: 4rem;
    color: var(--pinkBackground);
    -webkit-text-stroke: 1px var(--pinkBackground);
    margin-top: 2rem;
    margin-bottom: 2rem;
}