.guideLinesContainer {
    background-color: var(--backgroundColor);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 3rem 0;
    position: relative;
}

.removeMarqueTopMargin {
    margin-top: 0 !important;
}

.guideLinesContainer::after {
    content: "";
    background: url("/sectionTexture1.jpg");
    opacity: 0.02;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.initialSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.initialSection span {
    font-family: var(--Panton-Bold);
    font-size: 2rem;
    text-align: center;
    color: var(--whiteText);
    line-height: 100%;
}

.lightBlueDesc {
    color: var(--lightBlue) !important;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.sectionImageContainer {
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionImageContainer img {
    height: 100%;
    margin-right: 2rem;

}

.sectionTextContainer {
    margin: 1rem 0;
    line-height: 100%;
}

.sectionText {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 0.3rem;
}

.sectionText span {
    font-family: var(--Panton-Bold);
    font-size: 2rem;
    text-align: center;
    color: var(--whiteText);
    text-align: center;
    line-height: 80%;
}

@media screen and (max-width: 767px) {
    .removeMarqueTopMargin {
        margin-bottom: 0.5rem !important;
    }

    .guideLinesContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        padding: 0;
    }

    .initialSection {
        padding: 0 1rem;
    }

    .initialSection span {
        font-size: 1.3rem;
    }

    .sectionImageContainer {
        width: 8rem;
        height: 8rem;
    }

    .sectionText span {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 600px) {
    .sectionImageContainer {
        width: 6em;
        height: 6rem;
    }
}