.imageFormatContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.imageFormatContainer img {
    height: 10rem;
    z-index: 11;
}

.imageResolutionText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
    margin-top: 1.5rem;
}

.imageResolutionPinkText {
    color: var(--pinkBackground) !important;
}

.imageResolutionText span {
    font-family: var(--Panton-Bold);
    color: var(--lightBlue);
    text-shadow: -1px 4px 8px #000000;
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .imageFormatContainer img {
        height: 8rem;
    }

    .imageResolutionText {
        padding: 0 1rem;
    }

    .imageResolutionText span {
        font-size: 1.5rem;
    }

}