.logoContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoImage {
    width: auto;
    height: 15rem;
    margin-bottom: 0.5rem;
}

.nftYourselfLogo {
    background: var(--pinkBackground);
    box-shadow: inset -4px 4px 2px rgba(255, 255, 255, 0.15);
    filter: drop-shadow(-3px 3px 4px rgba(0, 0, 0, 0.3));
    margin-bottom: 1rem;
}

.nftYourselfLogoText {
    font-size: 1.8rem;
}

/* Mini Laptop */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .logoImage {
        height: 14rem;
    }
}

/* iPad */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .logoImage {
        height: 12rem;
    }
}

/* Mobile */
@media screen and (max-width: 470px) {
    .nftYourselfLogo {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-top: 1rem;
    }

    .logoImage {
        height: 11rem
    }
}

@media screen and (max-width: 370px) {
    .logoImage {
        height: 9rem;
    }
}