.footerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    padding: 2rem 0;
    padding-bottom: 10rem;
    z-index: 99;
}

.footerLogo {
    width: auto;
    height: 6em;
}

.footerLogo {
    transition: all .3s ease-in-out;
}

.footerLogo:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 767px) {
    .footerLogo {
        display: none;
        padding: 0;
    }

    .footerContainer {
        padding: 0;
    }
}