.footerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    padding: 2rem 0;
    padding-bottom: 10rem;
}

.footerLogo {
    width: auto;
    height: 7em;
}