.mintCycleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mintCycleText {
    font-family: var(--bungee);
    color: var(--pinkBackground);
    font-size: 4rem;
}

.mintCountText {
    font-family: var(--bungee);
    color: var(--secondaryBackgroundColor);
    font-size: 2.5rem;
}