.headerImagesContainer {
    width: 100%;
    display: flex;
    background-color: var(--backgroundColor);
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.headerImage {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
}