.formContainer {
    background-color: var(--lightBlue);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2rem 0;
    position: relative;
}

.formContainer::after {
    content: "";
    background: url("/sectionTexture1.jpg");
    opacity: 0.04;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.title {
    font-size: 4rem;
    color: var(--pinkBackground);
    font-family: var(--Panton-Black-Caps);
    text-align: center;
    z-index: 9;
}

.formGridContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 3rem;
    padding-bottom: 0.5rem;
    max-width: 1445px;
}

.gridFirstItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mintPriceText {
    font-size: 3rem;
    color: var(--secondaryBackgroundColor);
    font-family: var(--Panton-Black-Caps);
    line-height: 100%;
}

.gridPricingContainer {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    padding: 1rem 1rem;
    padding-bottom: 0.8rem;
    justify-content: space-between;
}

.connectWalletContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connectWalletContainer span {
    font-size: 1.2rem;
    color: var(--pinkBackground);
    font-family: var(--Panton-Bold);
    line-height: 100%;
}

.mintTypeText {
    font-family: var(--Panton-Black-Caps);
    color: var(--whiteText);
    font-size: 4rem;
    line-height: 100%;
}

.mintSubscipt {
    font-family: var(--Panton-Black-Caps);
    color: var(--secondaryBackgroundColor);
    line-height: 100%;
    font-size: 2rem;
}

.headshotImage {
    height: 15rem;
    object-fit: cover;
    margin-left: 20px;
}

.eachPricingContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.connectButton {
    background-color: var(--whiteText);
    margin-top: 0.2rem;
}

.connectButtonText {
    color: var(--secondaryBackgroundColor) !important;
    line-height: 100% !important;
    font-size: 1.8rem !important;
    font-family: var(--Panton-Black-Caps) !important;
}

.formInputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.inputBoxContainer {
    display: flex;
    width: 100%;
    align-items: center;
}

.inputBoxContainerText {
    width: 20%;
    margin-left: 1rem;
    font-size: 2rem;
    font-family: var(--Panton-Black-Caps);
    color: var(--secondaryBackgroundColor);
}

.inputBox {
    height: 2.5rem;
    width: 80%;
}

.uploadButton {
    background-color: var(--pinkBackground);
    box-shadow: inset -4px 4px 2px rgba(255, 255, 255, 0.15);
    filter: drop-shadow(-3px 3px 4px rgba(0, 0, 0, 0.2));
}

.addressGuidelineText {
    display: flex;
    width: 100%;
    padding: 0 3rem;
    max-width: 1445px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 13.50%;
}

.buttonContainer {
    background-color: var(--secondaryBackgroundColor);
    box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.15), inset -4px 4px 8px rgba(255, 255, 255, 0.15);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.buttonText {
    color: var(--whiteText);
    font-size: 1.8rem;
}

.eachAddresGuideLineText {
    color: var(--secondaryBackgroundColor);
    font-family: var(--Panton-Light-Caps);
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 20px;
    margin-top: 0.4rem;
}

.eachAddresGuideLineTextMob {
    color: var(--secondaryBackgroundColor);
    font-family: var(--Panton-Light-Caps);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 600;
    padding: 0 .2rem;
    display: none;
}

.inputBoxContainerTextMob {
    display: none;
    width: 20%;
    font-size: 1.5rem;
    font-family: var(--Panton-Black-Caps);
    color: var(--secondaryBackgroundColor);
}

.removeMarqueTopMargin {
    margin-top: 0 !important;
}

.mobileConnectButton {
    display: none;
    margin: 0.2rem 0;
}

.footerContainerMob {
    display: none;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .headshotImage {
        height: 12rem;
    }

    .mintTypeText {
        font-size: 3.2rem;
    }

    .mintPriceText {
        font-size: 2.6rem;
    }

    .mintSubscipt {
        font-size: 1.7rem;
    }

    .connectWalletContainer span {
        font-size: 1rem;
    }

}

@media screen and (max-width: 970px) {
    .formGridContainer {
        grid-template-columns: 1fr;
    }

    .desktopConnectButton {
        display: none;
    }

    .eachPricingContainer {
        flex-direction: column;
    }

    .gridPricingContainer {
        padding: 0;
        flex: 0.7;
    }

    .gridFirstItem {
        justify-content: center;
    }

    .eachPricingContainer {
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .removeMarqueTopMargin {
        margin-bottom: 0 !important;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 0;
    }

    .title {
        font-size: 3rem;
    }

    .mintTypeText {
        font-size: 2rem;
    }

    .mintPriceText {
        font-size: 2.3rem;
    }

    .mintSubscipt {
        font-size: 1.5rem;
    }

    .headshotImage {
        height: 8rem;
    }

    .inputBoxContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputBoxContainerTextMob {
        display: block;
    }

    .inputBoxContainerText {
        display: none;
    }

    .formGridContainer {
        padding: 0;
    }

    .mobileConnectButton {
        display: block;
    }

    .gridPricingContainer {
        flex: 0.4;
    }

    .eachAddresGuideLineTextMob {
        display: block;
    }

    .eachAddresGuideLineText {
        display: none;
    }

    .addressGuidelineText {
        justify-content: center;
        align-items: center;
    }

    .inputBoxContainer {
        margin-bottom: 0.1rem;
    }

    .inputBox {
        height: 2rem;
    }

    .footerContainerMob {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .headshotImage {
        height: 7rem;
    }

    .title {
        font-size: 2.4rem;
    }

    .mintTypeText {
        font-size: 2.2rem;
    }

    .mintPriceText {
        font-size: 2rem;
    }

    .mintSubscipt {
        font-size: 1.5rem;
    }

    .formGridContainer {
        width: 100%;
        padding: 0
    }

    .gridFirstItem {
        justify-content: space-evenly
    }


    .buttonText,
    .connectButtonText {
        font-size: 1.5rem !important;
    }
}