.footerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    padding: 2rem 0;
    z-index: 22;
}

.footerLogo {
    width: auto;
    height: 7em;
}

.footerLogo {
    transition: all .3s ease-in-out;
}

.footerLogo:hover {
    transform: scale(1.2);
}

.footerIcons {
    margin-top: 0;
    padding: 0;
}